.formItem {
  padding-right: 12px;
}

.productImage {
  border-radius: 6px;
  width: 102px;
  height: 102px;
  position: relative;
  cursor: pointer;
}

.productImage:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.productImage:hover .deleteBtn {
  opacity: 1;
}

.deleteBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 1;
}
